In [1]:
"* -*- coding: utf-8 -*-"

__author__ = 'Antoine'

import pandas as pd
import numpy as np

# Load Data
userHeader = ['user_id', 'gender', 'age', 'ocupation', 'zip']
users = pd.read_csv('dataSet/users.txt', engine='python',
                    sep='::', header=None, names=userHeader)

movieHeader = ['movie_id', 'title', 'genders']
movies = pd.read_csv('dataSet/movies.txt', engine='python',
                     sep='::', header=None, names=movieHeader)

ratingHeader = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('dataSet/ratings.txt', engine='python',
                      sep='::', header=None, names=ratingHeader)

# Merge data
mergeRatings = pd.merge(pd.merge(users, ratings), movies)

In [4]:
mergeRatings

,user_id,gender,age,ocupation,zip,movie_id,rating,timestamp,title,genders
0,1,F,1,10,48067,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,M,56,16,70072,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,M,25,12,32793,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,M,25,7,22903,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,M,50,1,95350,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama
...,...,...,...,...,...,...,...,...,...,...
1000204,5949,M,18,17,47901,2198,5,958846401,Modulations (1998),Documentary
1000205,5675,M,35,14,30030,2703,3,976029116,Broken Vessels (1998),Drama
1000206,5780,M,18,17,92886,2845,1,958153068,White Boys (1999),Drama
1000207,5851,F,18,20,55410,3607,5,957756608,One Little Indian (1973),Comedy|Drama|Western
1000208,5938,M,25,1,35401,2909,4,957273353,"Five Wives, Three Secretaries and Me (1998)",Documentary

In [5]:
# Clone DataFrame


def cloneDF(df):
    return pd.DataFrame(df.values.copy(), df.index.copy(), df.columns.copy()).apply(pd.to_numeric, errors='coerce')

In [17]:
numberRatings = cloneDF(mergeRatings)

In [18]:
numberRatings

,user_id,gender,age,ocupation,zip,movie_id,rating,timestamp,title,genders
0,1,NaN,1,10,48067.0,1193,5,978300760,NaN,NaN
1,2,NaN,56,16,70072.0,1193,5,978298413,NaN,NaN
2,12,NaN,25,12,32793.0,1193,4,978220179,NaN,NaN
3,15,NaN,25,7,22903.0,1193,4,978199279,NaN,NaN
4,17,NaN,50,1,95350.0,1193,5,978158471,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1000204,5949,NaN,18,17,47901.0,2198,5,958846401,NaN,NaN
1000205,5675,NaN,35,14,30030.0,2703,3,976029116,NaN,NaN
1000206,5780,NaN,18,17,92886.0,2845,1,958153068,NaN,NaN
1000207,5851,NaN,18,20,55410.0,3607,5,957756608,NaN,NaN
1000208,5938,NaN,25,1,35401.0,2909,4,957273353,NaN,NaN

In [16]:
numberRatings.groupby('title').size()

Series([], dtype: int64)

In [6]:
# Show Films with more votes. (groupby + sorted)
numberRatings = cloneDF(mergeRatings)
numberRatings = numberRatings.groupby(
    'title').size().sort_values(ascending=False)
print('Films with more votes: \n%s' % numberRatings[:10])
print('\n==================================================================\n')


# Show avg ratings movie (groupby + avg)
avgRatings = cloneDF(mergeRatings)
avgRatings = avgRatings.groupby(['movie_id', 'title']).mean()
print('Avg ratings: \n%s' % avgRatings['rating'][:10])
print('\n==================================================================\n')


# Show data ratings movies (groupby + several funtions)
dataRatings = cloneDF(mergeRatings)
dataRatings = dataRatings.groupby(['movie_id', 'title'])[
    'rating'].agg(['mean', 'sum', 'count', 'std'])
print('Films ratings info: \n%s' % dataRatings[:10])
print('\n==================================================================\n')


# Show data ratings movies, applying a function (groupby + lambda function)
myAvg = cloneDF(mergeRatings)
myAvg = myAvg.groupby(['movie_id', 'title'])['rating'].agg(
    {'SUM': np.sum, 'COUNT': np.size, 'AVG': np.mean, 'myAVG': lambda x: x.sum() / float(x.count())})
print('My info ratings: \n%s' % myAvg[:10])
print('\n==================================================================\n')


# Sort data ratings by created field (groupby + lambda function + sorted)
sortRatingsField = cloneDF(mergeRatings)
sortRatingsField = sortRatingsField.groupby(['movie_id', 'title'])['rating'].agg(
    {'COUNT': np.size, 'myAVG': lambda x: x.sum() / float(x.count())}).sort_values(by='COUNT', ascending=False)
print('My info sorted: \n%s' % sortRatingsField[:15])

Films with more votes:
Series([], dtype: int64)

==================================================================

Avg ratings:
Series([], Name: rating, dtype: int64)

==================================================================

KeyboardInterrupt: